*.sql
*.pub
*.key
*.log
*.*~
*.bak
.~*#
.c9
.DS_Store
config.php
Thumbs.db
Desktop.ini
.sass-cache
node_modules/
nbproject/
sitemap.xml
sitemap.xml.gz
wp-config-local.php
wp-config-stage.php
wp-config-production.php
ftpserver.py
rights.sh
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/logs/
wp-content/export/
wp-content/infinitewp/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php